.button-wrapper {
  margin: 10px 20px;
}

.editor ::ng-deep {
  .menubar {
    padding: 10px 20px;
    background-color: #ddd;

    .menuicon {
      display: inline-block;
      min-width: 20px;
      line-height: 20px;
      padding: 5px;
      border: 1px solid #000;
      margin-right: 10px;
      text-align: center;
    }
  }
  .ProseMirror {
    padding: 20px;
    white-space: pre-wrap;

    img.dinosaur {
      height: 40px;
      vertical-align: bottom;
      border: 1px solid #0ae;
      border-radius: 4px;
      background: #ddf6ff;
    }
  }
}
